*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{

background:#eee;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;

}


.container{

width:100%;
max-width:420px;
background:white;
min-height:100vh;
display:flex;
flex-direction:column;

}



/* HEADER */

.header{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:white;
box-shadow:0 2px 5px rgba(0,0,0,0.1);

}

.header button{

border:none;
background:none;
font-size:20px;
cursor:pointer;

}



/* CARD */

.tasbih-card{

margin:15px;
padding:20px;
border-radius:20px;
background:linear-gradient(rgba(108,75,189,0.8),rgba(108,75,189,0.8)),
url("tasbih.jpg");

background-size:cover;
color:white;
text-align:center;

}


.dhikr{

margin-bottom:10px;

}


.timer{

background:white;
color:#6c4bbd;
display:inline-block;
padding:5px 10px;
border-radius:5px;
margin-bottom:10px;

}


.title{

margin-bottom:10px;

}


.count{

font-size:40px;
margin:20px;

}


.count-btn{

width:120px;
height:60px;
border-radius:50px;
border:none;
background:#3d2c6c;
position:relative;
cursor:pointer;

}


.circle{

width:50px;
height:50px;
background:#ccc;
border-radius:50%;
position:absolute;
right:5px;
top:5px;

}



/* CONTROLS */

.controls{

display:flex;
justify-content:space-around;
margin-top:20px;

}


.control-btn{

padding:10px 20px;
border:none;
border-radius:10px;
background:white;
color:#6c4bbd;
cursor:pointer;

}




/* THEMES */

.theme-section{

padding:15px;

}


.themes{

display:flex;
gap:10px;

}


.theme{

flex:1;
height:100px;
border-radius:10px;
cursor:pointer;

}


.theme1{

background:url("theme1.jpg");
background-size:cover;

}


.theme2{

background:url("theme2.jpg");
background-size:cover;

}




/* BOTTOM NAV */

.bottom-nav{

margin-top:auto;
display:flex;
justify-content:space-around;
background:#6c4bbd;
color:white;
padding:10px;

}


.bottom-nav div{

text-align:center;
cursor:pointer;

}




/* RESPONSIVE */

@media (min-width:768px){

.container{

max-width:500px;

}

}


@media (min-width:1024px){

.container{

max-width:600px;

}

}